In [1]:
import pandas as pd

In [2]:
import seaborn as sns

In [3]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [4]:
df = sns.load_dataset("taxis")

In [6]:
df.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

In [9]:
df.query('color == "green"').head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
5451,2019-03-24 15:05:22,2019-03-24 15:26:32,1,2.29,15.0,0.0,0.0,15.8,green,cash,Forest Hills,Corona,Queens,Queens
5452,2019-03-14 22:04:04,2019-03-14 22:10:00,1,0.80,5.5,0.0,0.0,6.8,green,credit card,Kew Gardens,Kew Gardens,Queens,Queens
5453,2019-03-29 18:12:27,2019-03-29 18:20:40,1,1.51,7.5,1.2,0.0,10.5,green,credit card,East Harlem North,East Harlem South,Manhattan,Manhattan
5454,2019-03-06 11:11:33,2019-03-06 11:15:15,1,0.45,4.5,0.0,0.0,5.3,green,cash,East Harlem North,East Harlem South,Manhattan,Manhattan
5455,2019-03-04 18:43:53,2019-03-04 18:46:50,1,0.61,4.0,0.0,0.0,5.8,green,cash,Carroll Gardens,Carroll Gardens,Brooklyn,Brooklyn

KeyError: ('pickup', 'dropoff', 'color')